body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.site-header, .site-footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

.site-main {
    padding: 2rem;
}

.section {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #fc0000;
}

.skills-content {
    display: flex;
    justify-content: space-between;
}

.skills-text {
    flex: 3;
    padding-right: 20px;
}

.profile-image-container {
    flex: 1;
}

.profile-image {
    max-width: 100%;
    height: auto;
}

.education {
    display: flex;
    align-items: center;
}

.education-content {
    flex: 1;
}

.degree-image-container {
    margin-left: 1rem;
}

.degree-image {
    max-width: 150px;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}
