/* Header styling */
.site-header {
    background-color: #2c3e50;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Content wrapper styling */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.left-section, .right-section {
    flex: 1;
    padding: 1rem;
}

/* Left Section styling */
.left-section {
    background-color: #dfe6e9;
    border-radius: 10px;
    margin-right: 1rem;
}

.summary-section {
    background-color: #74b9ff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.skills-section {
    background-color: #55efc4;
    padding: 1rem;
    border-radius: 10px;
}

/* Right Section styling */
.right-section {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* Experience section styling */
.experience-section {
    background-color: #dfe6e9;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.job {
    margin-bottom: 1rem;
}

/* Education section styling */
.education-section {
    background-color: #dfe6e9;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.education {
    flex: 1;
    display: flex;
}

.education-content {
    flex: 1;
    padding: 1rem;
}

.degree-image-container {
    flex: 1;
    text-align: center;
}

.degree-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Certifications section styling */
.certifications-section {
    background-color: #a29bfe;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

/* Portfolio section styling */
.portfolio-section {
    background-color: #ffeaa7;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

/* Footer section styling */
.site-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .left-section, .right-section {
        flex: 100%;
        margin-right: 0;
    }
}
